@model OAIMVC.ViewModels.ChatViewModel
@{
    Layout = "_Layout";
}
<form asp-action="Index" method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text p-0">
                    <img src="~/images/user.jpg" alt="User" style="height:64px;" />
                </span>
                <input asp-for="Input" class="form-control" placeholder="Skriv din fråga…" style="font-size:1.5em;" />
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center" style="font-size:1.5em";>
            <img src="~/images/chatbot.png" alt="Chatbot" style="height:64px; margin-right:8px;" />
            Fråga mig vad som helst...
        </div>
    </div>

    @for (var i = 0; i < Model.History.Count; i++)
    {
        <input type="hidden" asp-for="History[i].Timestamp" />
        <input type="hidden" asp-for="History[i].Question" />
        <input type="hidden" asp-for="History[i].Answer" />
    }

    <button type="submit" class="btn btn-success" style="font-size:1.5em;">Skicka</button>
</form>

@if (Model.History.Any())
{
    <div class="mt-4">
        @foreach (var e in Model.History)
        {
            <div class="p-2 mb-2 border rounded">
                <small class="text-muted">@e.Timestamp</small>
                <p>
                    <img src="~/images/user.jpg" alt="User" style="height:32px; vertical-align:middle;" />
                    <strong>@e.Question</strong>
                </p>
                <p>
                    <img src="~/images/chatbot.png" alt="Chatbot" style="height:32px; vertical-align:middle;" />
                    @e.Answer
                </p>
            </div>
        }
    </div>
}